input.error{
	 border: 1px solid #D70128 !important;
}
textarea.error{
	 border: 1px solid #D70128 !important;
}
.hlkg .input.error{
	 border: 1px solid #D70128 !important;
}.hlkg textarea.error{
	 border: 1px solid #D70128 !important;
}
/* pager style */
.page{
	padding:25px 0 40px;
	font-size:12px;
	font-weight:bold;
	line-height:22px;
	text-align:center;
	clear:both;}
.page a{
	text-decoration:none;
	color:#8698b6;
	background:#fff;
	border:1px solid #CCCCCC;
	padding:3px 6px;
	padding-bottom:2px;
	margin-right:3px}
.page a.active{
	background:#035cac;
	border:1px solid #035cac;
	color:#fff}
.page a:hover{
	text-decoration:none;
	color:#fff;
	background:#035cac;
	border:1px solid #035cac;
}

.haina img{
	display: block;
	transition: transform 0.3s ease 0s;
}
.haina:hover img{
	transform: scale(1.1, 1.1);
	transition: transform 0.6s ease 0s;
}