.news-infor .top-wrap .btnbox span{
    width: 15px;
    height: 7px;
    margin-left: 8px;
    cursor: pointer;
    background: url(../images/dot.png) no-repeat right center;
    display: block;
    float: left;
    transition: normal;
    border-radius: 11px;
    /* background-size: 51px 84px; */
}
.news-infor .top-wrap .btnbox span.on{
    background: url(../images/dotColor.png) no-repeat left center;
    width: 30px;
}
.news-infor .wrap2 .box{
    margin:5px !important;
}
.news-infor .wrap2 .main{
    opacity: 1;
}
.news-infor .top-wrap .right.g-right{
    display: inline-block;
    position: relative;
    padding-left: 1rem;
    padding-top: 5rem;
}

.g-right  li{
    padding:5px !important;
    margin-bottom:10px !important;

}